<div class="ui form">
  <div class="field">
    <Textarea class=" " @value={{model.content}} @maxlength={{model.MAX}} />
  </div>
</div>
  <div class="ui {{model.style}} message">
    Nombre de caractères restant : {{model.size}}
  </div>
  <div class="ui {{model.syle}} message">
    {{model.info}}
  </div>
  <button {{action "save" model}}> Enregistrement</button>
  <button {{action "reset" model}}> Effacer</button>

{{outlet}}