<h1>Services</h1>

  <div class="ui message">
    Choisissez les éléments à inclure :
    {{model.countActive}}
  </div>
<ul>
  {{#each model.services as |service|}}
    <li><button class="ui button {{if service.active "positive" ""}}" {{action "toogleActive" service}}>{{service.name}} {{service.price}}€</button></li><br>
  {{/each}}
</ul>
<hr>
 Total : {{model.total}}
{{outlet}}